<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Acceuil</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href={{asset('./images/faviconnn.ico')}} type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:400,500,600%7CTeko:300,400,500%7CMaven+Pro:500">
    <link rel="stylesheet"  href={{asset('css/bootstrap.css')}}>
    <link rel="stylesheet"  href={{asset('css/fonts.css')}}>
    <link rel="stylesheet" href={{asset('css/style.css')}}>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <style>


.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}
  </style>
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container"><span></span><span></span><span></span><span></span>
        </div>
      </div>
    </div>
    <div class="page">
      <div id="home">
        <!-- Page Header-->
        <header class="section page-header">
          <!-- RD Navbar-->
          <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
              <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                  <!-- RD Navbar Panel-->
                  <div class="rd-navbar-panel">
                    <!-- RD Navbar Toggle-->
                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                    <!-- RD Navbar Brand-->
                    <div class="rd-navbar-brand"><a class="brand" href="#news"><img src="{{asset('./images/logo-250x100.jpg')}}" alt="" width="223" height="50"/></a></div>
                  </div>
                  <div class="rd-navbar-main-element">
                    <div class="rd-navbar-nav-wrap">
                      <!-- RD Navbar Share-->
                      <div class="rd-navbar-share fl-bigmug-line-share27" data-rd-navbar-toggle=".rd-navbar-share-list">
                        <ul class="list-inline rd-navbar-share-list">
                          <li class="rd-navbar-share-list-item"><a class="icon fa fa-twitter" href="#"></a></li>
                          <li class="rd-navbar-share-list-item"><a class="icon fa fa-google-plus" href="mailto:contact@medmatch.fr"></a></li>
                          <li class="rd-navbar-share-list-item"><a class="icon fa fa-linkedin" href="https://www.linkedin.com/company/medmatch-france/"></a></li>
                        </ul>
                      </div>
                      <ul class="rd-navbar-nav">
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="#home">Acceuil</a></li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="#services">Services</a></li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="#projects">Offres</a></li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="#news">Apropos</a></li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="#contacts">contacts</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </header>

        <!-- Swiper-->
        <section class="section swiper-container swiper-slider swiper-slider-classic" data-loop="true" data-autoplay="4859" data-simulate-touch="true" data-direction="vertical" data-nav="false">
          <div class="swiper-wrapper text-center">
            <div class="swiper-slide" data-slide-bg="images/sliderrec-1-slide-6-1770x742.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="container">
                  <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Recrutement Personnalisé</h1>
                  <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">
Depuis notre création, nous fournissons des solutions de recrutement sur mesure et de haute qualité pour répondre aux besoins spécifiques en personnel des entreprises à l'échelle mondiale.</p>
<a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Postuler</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/sliderrec-1-slide-4-1770x742.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="container">
                  <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Processus de Sélection Minutieux</h1>
                  <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">La fierté de MedMatch réside dans un processus de sélection minutieux. Tous les candidats sont rencontrés et interviewés en personne par nos spécialistes, assurant ainsi une évaluation approfondie de leurs compétences et de leur adéquation avec les postes disponibles.</p><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Postuler</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/sliderrec-1-slide-2-1770x742.jpg">
              <div class="swiper-slide-caption section-md">
                <div class="container">
                  <h1 data-caption-animate="fadeInLeft" data-caption-delay="0">Conseils en Recrutement Médical</h1>
                  <p class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">nous offrons des conseils personnalisés. Que vous cherchiez à renforcer votre équipe médicale ou à trouver des opportunités de carrière, notre équipe est prête à vous guider. Notre engagement envers la qualification des candidats et un service client de qualité garantissent une expérience exceptionnelle.</p><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200">Postuler</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Pagination-->
          <div class="swiper-pagination__module">
            <div class="swiper-pagination__fraction"><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count">00</span></div>
            <div class="swiper-pagination__divider"></div>
            <div class="swiper-pagination"></div>
          </div>
        </section>

      </div>
      <!-- See all services-->
      <section class="section section-sm section-first bg-default text-center" id="services">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-md-7 col-lg-5 col-xl-6 text-lg-left wow fadeInUp"><img src="images/indexx-1-415x592.png" alt="" width="415" height="592"/>
            </div>
            <div class="col-lg-7 col-xl-6">
              <div class="row row-30">
                <div class="col-sm-6 wow fadeInRight">
                  <article class="box-icon-modern box-icon-modern-custom">
                    <div>
                      <h3 class="box-icon-modern-big-title"> Qu'offrons-nous ?</h3>
                      <div class="box-icon-modern-decor"></div><a class="button button-primary button-ujarak" href="#"> Tous nos service </a>
                    </div>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".1s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-phone-in-out"></div>
                    <h5 class="box-icon-modern-title"><a href="#">Processus de recrutement <br>facilité</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Optimisez votre processus de recrutement avec notre solution sur mesure !</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".2s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-outbox"></div>
                    <h5 class="box-icon-modern-title"><a href="#">Perspicacité  <br>et <br>expertise du marché </a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Nos experts offrent des solutions personnalisées, adaptées à vos besoins, mettant en avant notre expertise du marché.</p>
                  </article>
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-delay=".3s">
                  <article class="box-icon-modern box-icon-modern-2">
                    <div class="box-icon-modern-icon linearicons-headset"></div>
                    <h5 class="box-icon-modern-title"><a href="#">Conseils<br> en Recrutement Médical</a></h5>
                    <div class="box-icon-modern-decor"></div>
                    <p class="box-icon-modern-text">Optez pour notre solution fiable de recrutement médical.</p>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Cta-->
      <section class="section section-fluid bg-default">
        <div class="parallax-container" data-parallax-img="images/parallaxx-1.jpg">
          <div class="parallax-content section-xl context-dark bg-overlay-68 bg-mobile-overlay">
            <div class="container">
              <div class="row row-30 justify-content-end text-right">
                <div class="col-sm-7">
                  <h3 class="wow fadeInLeft">Élevons votre équipe médicale vers de nouveaux sommets !</h3>
                  <p>Vous cherchez une solution exceptionnelle de recrutement médical pour votre équipe de soins de santé? Nous avons l'expertise nécessaire pour vous accompagner dans cette mission!"</p>
                  <div class="group-sm group-middle group justify-content-end"><a class="button button-primary button-ujarak" href="#modalCta" data-toggle="modal">Postuler</a><a class="button button-white-outline button-ujarak" href="#">En savoir plus</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Latest Projects-->
 <section class="section section-sm section-fluid bg-default text-center" id="projects">
    <div class="container-fluid">
        <h2 class="wow fadeInLeft">Nos Offres</h2>
        <p class=" wow fadeInRight" data-wow-delay=".1s">Découvrez les solutions de recrutement médical expert que nous offrons dans le domaine des soins de santé. Notre équipe qualifiée est dédiée à créer des opportunités uniques pour répondre à vos besoins spécifiques.</p>

        <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
 
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xxl-3">
              <div>
              
                  <div class="thumbnail-classic-title-wrap">
                    <h5 class="thumbnail-classic-title"><a href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200" data-data-offre="offre2">Offre 2</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Description offre2</p>
                  <p class="thumbnail-classic-text" name ="Date">10/12/2023</p>
                  <p class="thumbnail-classic-text" name ="Prix">5000 £</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
              <div class="thumbnail-classic-figure" style="position: relative;">
        <img src="images/fullwidthh-gallery-1-420x350.jpg" alt="" width="420" height="350"/>
        <div class="thumbnail-classic-text" style="position: absolute; top: 0; left: 0; width:100%; height: 20%; background: rgba(255, 255, 255, 0.7); padding: 20px; box-sizing: border-box;">
            <p> offre2</p>
        </div>
    </div>
              
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap">
                    <h5 class="thumbnail-classic-title"><a href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200" data-data-offre="offre2">Offre 2</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Description offre2</p>
                  <p class="thumbnail-classic-text" name ="Date">10/12/2023</p>
                  <p class="thumbnail-classic-text" name ="Prix">5000 £</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 2" data-wow-delay=".2s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                     <div class="thumbnail-classic-figure" style="position: relative;">
        <img src="images/fullwidthh-gallery-1-420x350.jpg" alt="" width="420" height="350"/>
        <div class="thumbnail-classic-text" style="position: absolute; top: 0; left: 0; width:100%; height: 20%; background: rgba(255, 255, 255, 0.7); padding: 20px; box-sizing: border-box;">
            <p> offre3</p>
        </div>
    </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap">
                    <h5 class="thumbnail-classic-title"><a href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200" data-form-type="offre">Offre 3</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Description Offre 3</p>
                  <p class="thumbnail-classic-text" name ="Date">10/12/2023</p>
                  <p class="thumbnail-classic-text" name ="Prix">5000 £</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 3" data-wow-delay=".3s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                     <div class="thumbnail-classic-figure" style="position: relative;">
        <img src="images/fullwidthh-gallery-1-420x350.jpg" alt="" width="420" height="350"/>
        <div class="thumbnail-classic-text" style="position: absolute; top: 0; left: 0; width:100%; height: 20%; background: rgba(255, 255, 255, 0.7); padding: 20px; box-sizing: border-box;">
            <p> offre4</p>
        </div>
    </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap">
                    <h5 class="thumbnail-classic-title"><a href="#modalCta" data-toggle="modal" data-caption-animate="fadeInUp" data-caption-delay="200" data-form-type="offre">Offre 4</a></h5>
                  </div>
                  <p class="thumbnail-classic-text">Description Offre4</p>
                  <p class="thumbnail-classic-text" name ="Date">10/12/2023</p>
                  <p class="thumbnail-classic-text" name ="Prix">5000 £</p>
                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                     <div class="thumbnail-classic-figure" style="position: relative;">
        <img src="images/fullwidthh-gallery-1-420x350.jpg" alt="" width="420" height="350"/>
        <div class="thumbnail-classic-text" style="position: absolute; top: 0; left: 0; width:100%; height: 20%; background: rgba(255, 255, 255, 0.7); padding: 20px; box-sizing: border-box;">
            <p> offre5</p>
        </div>
    </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap">
                    <h5 class="thumbnail-classic-title"><a href="#">Offre5</a></h5>
                  </div>
   <p class="thumbnail-classic-text">Description Offre5</p>
                  <p class="thumbnail-classic-text" name ="Date">10/12/2023</p>
                  <p class="thumbnail-classic-text" name ="Prix">5000 £</p>                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".1s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                     <div class="thumbnail-classic-figure" style="position: relative;">
        <img src="images/fullwidthh-gallery-1-420x350.jpg" alt="" width="420" height="350"/>
        <div class="thumbnail-classic-text" style="position: absolute; top: 0; left: 0; width:100%; height: 20%; background: rgba(255, 255, 255, 0.7); padding: 20px; box-sizing: border-box;">
            <p> offre6</p>
        </div>
    </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap">
                    <h5 class="thumbnail-classic-title"><a href="#">Offre6</a></h5>
                  </div>
   <p class="thumbnail-classic-text">Description Offre6</p>
                  <p class="thumbnail-classic-text" name ="Date">10/12/2023</p>
                  <p class="thumbnail-classic-text" name ="Prix">5000 £</p>                </div>
              </article>
            </div>
            <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 2" data-wow-delay=".2s">
              <!-- Thumbnail Classic-->
              <article class="thumbnail thumbnail-classic thumbnail-md">
                     <div class="thumbnail-classic-figure" style="position: relative;">
        <img src="images/fullwidthh-gallery-1-420x350.jpg" alt="" width="420" height="350"/>
        <div class="thumbnail-classic-text" style="position: absolute; top: 0; left: 0; width:100%; height: 20%; background: rgba(255, 255, 255, 0.7); padding: 20px; box-sizing: border-box;">
            <p> offre7</p>
        </div>
    </div>
                <div class="thumbnail-classic-caption">
                  <div class="thumbnail-classic-title-wrap">
                    <h5 class="thumbnail-classic-title"><a href="#">Offre 7</a></h5>
                  </div>
   <p class="thumbnail-classic-text">Description Offre 7</p>
                  <p class="thumbnail-classic-text" name ="Date">10/12/2023</p>
                  <p class="thumbnail-classic-text" name ="Prix">5000 £</p>                 </div>
              </article>
            </div>
                   </div>
    </div>
</section>



      <!-- Years of experience-->
      <section class="section section-sm bg-default">
        <div class="container">
          <div class="row row-30 row-xl-24 justify-content-center align-items-center align-items-lg-start text-left">
            <div class="col-md-6 col-lg-5 col-xl-4 text-center"><a class="text-img" href="#">
                <div id="particles-js"></div><span class="counter">4</span></a></div>
            <div class="col-sm-8 col-md-6 col-lg-5 col-xl-4">
              <div class="text-width-extra-small offset-top-lg-24 wow fadeInUp">
                <h3 class="title-decoration-lines-left">Années d'expérience</h3>
                <p class="text-gray-500">Chez Med Match, nous plaçons toujours nos
partenaires au cœur de tout ce que nous faisons.
Votre satisfaction, vos besoins et votre succès sont
notre priorité absolue.</p><a class="button button-secondary button-pipaluk" href="#news">Voir Plus</a>
              </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay=".1s">
              <div class="row justify-content-center border-2-column offset-top-xl-26">
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">10</span><span class="symbol">k</span>
                    </div>
                    <h6 class="counter-amy-title">CV Déposés</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">54</span>
                    </div>
                    <h6 class="counter-amy-title">Spécialités</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="symbol">+</span><span class="counter">9</span><span class="symbol">k</span>
                    </div>
                    <h6 class="counter-amy-title">Missions Realisée</h6>
                  </div>
                </div>
                <div class="col-9 col-sm-6">
                  <div class="counter-amy">
                    <div class="counter-amy-number"><span class="counter">13</span><span class="symbol">k</span>
                    </div>
                    <h6 class="counter-amy-title">Missions </h6>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </section>

 

      <!-- You dream — we embody-->
      <section class="section section-sm bg-default text-md-left" id="news">
        <div class="container">
          <div class="row row-50 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-lg-6 col-xl-5 wow fadeInLeft">
              <h2>Obtenez le plus chez nous </h2>
              <!-- Bootstrap tabs-->
              <div class="tabs-custom tabs-horizontal tabs-line tabs-line-big text-center text-md-left" id="tabs-6">
                <!-- Nav tabs-->
                <ul class="nav nav-tabs">
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big active" href="#tabs-6-1" data-toggle="tab">01</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-2" data-toggle="tab">02</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-3" data-toggle="tab">03</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link nav-link-big" href="#tabs-6-4" data-toggle="tab">04</a></li>
                </ul>
                <!-- Tab panes-->
                <div class="tab-content">
                  <div class="tab-pane fade show active" id="tabs-6-1">
                    <h5 class="font-weight-normal">secteur d'activite</h5>
                    <p>Ces secteurs d'activité représentent une diversité remarquable dans le domaine des soins de santé. Que ce soit dans une clinique, une entreprise, un EHPAD, une collectivité publique, un hôpital, une crèche, l'industrie pharmaceutique, un laboratoire d'analyse, l'hospitalisation à domicile, une maternité, une pharmacie, une ONG, une association ou un cabinet libéral, chaque domaine contribue de manière significative à la prestation de soins exceptionnels</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#contacts">Contactez-Nous</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-2">
                    <h5 class="font-weight-normal">Prestation De Soin Exceptionnels</h5>
                    <p>MedMatch s'engage à fournir des services exceptionnels en matière de soins de santé, mettant en relation les professionnels qualifiés avec les opportunités de carrière qui correspondent à leurs compétences et aspirations uniques.</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#contacts">Contactez-Nous</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-3">
                    <h5 class="font-weight-normal"> Partenaire de confiance</h5>
                    <p>MedMatch, votre partenaire de confiance dans ce projet, s'engage à fournir des solutions de recrutement médical expertes et personnalisées, garantissant une collaboration fructueuse et un succès partagé.</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#contacts">Contactez-Nous</a></div>
                  </div>
                  <div class="tab-pane fade" id="tabs-6-4">
                    <h5 class="font-weight-normal">Valeurs & Engagements</h5>
                    <p>Etablir  Des partenariats Durables , Etre un Conseiller De Confiance, personnalisation De Solution ,Accees a un Talent De Qualite,Assurer la confermité Reglementaire , garantir la continuite de Soins,Maintenir une Communication Ouverte .</p>
                    <div class="group-sm group-middle"><a class="button button-secondary button-pipaluk" href="#contacts">Contactez-Nous</a></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 text-center wow fadeInUp" data-wow-delay=".1s">
              <div class="owl-carousel owl-style-1" data-items="2" data-stage-padding="0" data-loop="true" data-margin="0" data-mouse-drag="true" data-autoplay="true"><a class="box-device" href="#"><img src="images/indexx-4-313x580.png" alt="" width="313" height="580"/></a><a class="box-device" href="#"><img src="images/indexx-5-313x580.png" alt="" width="313" height="580"/></a><a class="box-device" href="#"><img src="images/indexx-4-313x580.png" alt="" width="313" height="580"/></a><a class="box-device" href="#"><img src="images/indexx-5-313x580.png" alt="" width="313" height="580"/></a></div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Pricing-->
      

          
           
                
       
<section class="section section-fluid bg-default" id="news">
                <div class="parallax-container">

                
         <img src="images/parallaxx-2.png" alt="" width="100%" height="400"/>
         </div>
        </section>
      <!-- Latest blog posts-->
      <section class="section section-sm bg-default" id="news">
        <div class="container">
          <h2>A Propos De Nous !</h2>
                

        
          <div class="row row-45">
       <p class="post-modern-text">   MedMatch est un acteur majeur de la
 prestation de services de recrutement
et de dotation en personnel dans le
 domaine des soins de santé.
Notre expertise approfondie nous
 permet de saisir parfaitement les
exigences particulières des employeurs
 et des candidats.
Créé dans le but de faciliter le
 recrutement des candidats les plus
 qualifiés pour chaque poste.
 Notre fierté réside dans notre processus
 de sélection minutieux, où tous les
 candidats sont rencontrés et interviewés
en personne par nos spécialistes.
 Cette approche assure une adéquation
parfaite entre les candidats et les postes à pourvoir.

Notre engagement exclusif envers le recrutement et la
dotation en personnel dans le domaine médical nous
confère une connaissance approfondie des besoins du
marché.
Notre croissance et notre succès sont le fruit de notre
expérience et de notre engagement envers un service
clientèle de qualité et la qualification des candidats.
Avec notre compréhension unique des exigences
propres au secteur des soins de santé et notre
tradition d’excellence, nous sommes prêts à devenir
votre ressource privilégiée en matière de ressources
médicales.</p>
            
          </div>
        </div>
      </section>

      <!-- Contact information-->
      <section class="section section-sm bg-default">
        <div class="container">
          <div class="row row-30 justify-content-center">
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-cellphone55"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="tel:#">+123-456-7890</a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-up104"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="#">123 avenue de Paris ,75012</a></p>
                </div>
              </article>
            </div>
            <div class="col-sm-8 col-md-6 col-lg-4">
              <article class="box-contacts">
                <div class="box-contacts-body">
                  <div class="box-contacts-icon fl-bigmug-line-chat55"></div>
                  <div class="box-contacts-decor"></div>
                  <p class="box-contacts-link"><a href="mailto:contact@medmatch.fr">contact@medmatch.fr</a></p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact Form-->
      <section class="section section-sm section-last bg-default text-left" id="contacts">
        <div class="container">
          <article class="title-classic">
            <div class="title-classic-title">
              <h3>Contactez-nous</h3>
            </div>
            <div class="title-classic-text">
              <p>Si vous avez des questions, il vous suffit de remplir le formulaire de contact, et nous vous répondrons dans les plus brefs délais.</p>
            </div>
          </article>
          <form class="rd-form rd-form-variant-2 rd-mailform" data-form-output="form-output-global" data-offre="contact" method="post" action="/Contacts">
            <div class="row row-14 gutters-14">
              <div class="col-md-4">
                <div class="form-wrap">
                  <input class="form-input" id="contact-your-name-2" type="text" name="name" data-constraints="@Required">
                  <label class="form-label" for="contact-your-name-2">Nom/prénom</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-wrap">
                  <input class="form-input" id="contact-email-2" type="email" name="email" data-constraints="@Email @Required">
                  <label class="form-label" for="contact-email-2">E-mail</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-wrap">
                  <input class="form-input" id="contact-phone-2" type="text" name="phone" data-constraints="@Numeric">
                  <label class="form-label" for="contact-phone-2">N°Telephone</label>
                </div>
              </div>
              <div class="col-12">
                <div class="form-wrap">
                  <label class="form-label" for="contact-message-2">Message</label>
                  <textarea class="form-input textarea-lg" id="contact-message-2" name="message" ></textarea>
                </div>
              </div>
            </div>
  <button class="button button-primary button-pipaluk" type="submit" >
        envoyer
    </button> 
    
           </form>
        </div>
      </section>

      <!-- Bottom Banner-->

      <!-- RD Google Map-->
      <section class="section section-fluid">
        <!-- Google Map-->
        <section class="section">
          <div class="google-map-container" data-center="6036 Richmond hwy., Alexandria, VA, 2230" data-zoom="5" data-styles="[{&quot;featureType&quot;:&quot;administrative&quot;,&quot;elementType&quot;:&quot;labels.text.fill&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#444444&quot;}]},{&quot;featureType&quot;:&quot;landscape&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#f2f2f2&quot;}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;poi.business&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;saturation&quot;:-100},{&quot;lightness&quot;:45}]},{&quot;featureType&quot;:&quot;road.highway&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;simplified&quot;}]},{&quot;featureType&quot;:&quot;road.arterial&quot;,&quot;elementType&quot;:&quot;labels.icon&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;transit&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#b4d4e1&quot;},{&quot;visibility&quot;:&quot;on&quot;}]}]">
<iframe src="https://www.google.com/maps/d/embed?mid=1lAE2DYoIVa7k4OpPdXXCGcaWZVycDa0&ehbc=2E312F&noprof=1" width="100%" height="480"></iframe></iframe>            <ul class="google-map-markers">
        
            </ul>
          </div>
        </section>
      </section>

      <!-- Page Footer-->
      <footer class="section section-fluid footer-minimal context-dark">
        <div class="bg-gray-15">
          <div class="container-fluid">
           
            <div class="footer-minimal-bottom-panel text-sm-left">
              <div class="row row-10 align-items-md-center">
                <div class="col-sm-6 col-md-4 text-sm-right text-md-center">
                  <div>
                    <ul class="list-inline list-inline-sm footer-social-list-2">
                      <li><a class="icon fa fa-twitter" href="#"></a></li>
                      <li><a class="icon fa fa-google-plus" href="mailto:contact@medmatch.fr"></a></li>
                      <li><a class="icon fa fa-linkedin" href="https://www.linkedin.com/company/medmatch-france/"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 order-sm-first">
                  <!-- Rights-->
                    <div class="rd-navbar-brand"><a class="brand" href="#news"><img src="{{asset('./images/logo-250x1000.png')}}" alt="" width="223" height="50"/></a></div>
                </div>
                <div class="col-sm-6 col-md-4 text-md-right"><span>All rights reserved.</span> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <div class="modal fade" id="modalCta" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Ne Ratez Pas Cette Opportunité</h4>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <form class="rd-form rd-form-variant-2 rd-mailform" data-form-output="form-output-global" data-form-type="contact-modal" method="POST" action="{{ path('app_mailer') }}" enctype="multipart/form-data">
    <div class="row row-14 gutters-14">
        <div class="col-12">
            <div class="form-wrap">
                <input class="form-input" id="contact-modal-subject" type="text" name="subject" data-constraints="@Required">
                <label class="form-label" for="contact-modal-subject">Préciser l'Offre ! (exp :offre1)</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-wrap">
                <input class="form-input" id="contact-modal-name" type="text" name="name" data-constraints="@Required">
                <label class="form-label" for="contact-modal-name">Nom, Prénom</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-wrap">
                <input class="form-input" id="contact-modal-email" type="email" name="email" data-constraints="@Email @Required">
                <label class="form-label" for="contact-modal-email">E-mail</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-wrap">
                <input class="form-input" id="contact-modal-phone" type="text" name="phone" data-constraints="@Numeric">
                <label class="form-label" for="contact-modal-phone">Numéro de téléphone</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-wrap">
                <label class="form-label" for="contact-modal-message">Message</label>
                <textarea class="form-input textarea-lg" id="contact-modal-message" name="message" data-constraints="@Required"></textarea>
            </div>
        </div>


<div class="col-12">

                                                            <label  for="contact-modal-file">Curriculum Vitae</label>
        </div>


        <div class="col-12">

            <div class="form-wrap">
                <input class="form-input" id="contact-modal-file" type="file" name="file" data-constraints="@Required">
            </div>
        </div>
    



        <div class="col-12">

            <div class="form-wrap">
                <div class="form-input">
<div class="g-recaptcha" data-sitekey="6LcCMsklAAAAAAprLCV19nrNyCFzQ9ONIsjTZI_4"></div>

               </div>
        </div>
    </div>
    
    </div>
     <button class="button button-primary button-pipaluk" type="submit" >
        Postuler
    </button>

     
   
    <br/>
    </div>
</form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <!-- Javascript-->
    <script src="{{asset('./js/core.min.js')}}"></script>
    <script src="{{asset('./js/script.js')}}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

<!-- Replace the variables below. -->



    <!-- coded by Himic-->
  </body>
</html>

